<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <script src="/script/toggleOverlay.js" defer></script>
  </head>
  <body>
    
    <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <% if (locals.user.memberstatus !== 'Member') { %>
      <button id="joinButton">Join The Club</button>

    <% } else {%>
      <p>You are the member</p>
    <% }%>

    <p><%= user.memberstatus %></p>
    <% if (user.memberstatus === "Member") { %>
    <p>Thank you for being a member!</p>
    <% }%>

    <a href="/home">Home</a>
    <a href="/log-out">LOG OUT</a>

    <% } else { %>

    <h1>WELCOME TO THE CLUB</h1>

    <a href="/log-in">LOG IN</a>
    <% }%>

    <div class="dialog-overlay" id="dialogOverlay">
      <div class="dialog">
        <h2>Join The Club</h2>
        <form action="/join" method="POST">
          <label for="code">Enter The Code</label>
          <input type="text" id="code" name="code" />
          <button type="submit">Join</button>
          <button type="button" id="closeButton">Close</button>
        </form>
      </div>
    </div>
  </body>
</html>
